footer
	.container.footer_box
		.row
			.col-xl-9.col-lg-12
				.row
						.col-lg.col-sm.lh-2
							p Đăng kí nhận thông tin
							p ĐỂ NHẬN CÁC ƯU ĐÃI ĐẾN TỪ MK COFFEE
							p.footer_form.fs-1
								span
									b ĐỊA CHỈ EMAIL
								button.fl
									b Đăng kí
									<i class="lnr lnr-arrow-right"></i>
							input(type='email')
						.col-lg.col-sm
							p Tìm hiểu về chúng tôi
							.icon
								a(href="") <i class="fab fa-facebook-f"></i>
								a(href="") <i class="fas fa-play"></i>
								a(href="") <i class="fab fa-instagram"></i>
						.col-lg-12
							.footer-boder
				.row.fs-1
					.col-lg.col-sm-6.col-xs-6.mb-3.lh-4
						p Điện thoại
						P CHĂM SÓC KHÁCH HÀNG
						P MK COFFEE
					.col-lg.col-sm-6.col-xs-6.mb-3.tt-l.lh-4.pl-3
						p 0903194968
						P mkt@mkcoffee.vn
						P sale@mkcoffee.vn
					.col-lg.col-sm-6.col-xs-6.mb-3.lh-4
						a(href="") Giới thiệu
						a(href="") NĂNG LỰC SẢN XUẤT
						a(href="") TIN TỨC - SỰ KIỆN
					.col-lg.col-sm-6.col-xs-6.mb-3.lh-4
						a(href="") Sản phẩm
						a(href="") HỖ TRỢ KHÁCH HÀNG
						a(href="") LIÊN HỆ
			.col-xl-3.col-lg-12
				img.mw-100.fr(src="assets/logo-footer.png", alt="")
		.row
			.col-lg-12.ta-r
				.copyright
					p 2020 COPYRIGHT MK COFFEE
