header
	.container
		.menu
			ul
				.search-box
					form
						input.search-input(type='text', placeholder='Tìm kiếm...')
				li
					.search-icon
						i.lnr.lnr-magnifier
				li.none
					a(href="san-pham.html") Sản phẩm
				li.none
					a(href="lien-he.html") Liên hệ
.sidebar
	.leftbar
		ul.menu
			li
				a(href="/dangxuanthanh/mkcoffee/").active Trang chủ
			li
				a(href="gioi-thieu.html") Giới thiệu
			li
				a(href="san-pham.html") Sản phẩm
			li
				a(href="nang-luc-san-xuat.html") Năng lực sản xuất
			li
				a(href="ho-tro-khach-hang.html") Hổ trợ khách hàng
			li
				a(href="tin-tuc.html") Tin tức - Sự kiện
			li
				a(href="lien-he.html") Liên hệ

			.icon
				a(href="") <i .fs-12 class="fab fa-facebook-f"></i>
				a(href="") <i .fs-12 class="fas fa-play"></i>
				a(href="") <i .fs-12 class="fab fa-instagram"></i>		
	.rightbar
		a(href="/dangxuanthanh/mkcoffee/")
			img(src="assets/logo.png" alt="")
		.btn
			.icon
			span.lnr.lnr-arrow-left

.overlay