section.ttct
    .container
        .tab_content 4 thời điểm tốt nhất để uống cà phê
        .date-icon
            .date 23.6.2020
            .icon
                a(href="") <i class="fab fa-facebook-f"></i>
                a(href="") <i class="fab fa-twitter"></i>
        p Không chỉ lượng cà phê bạn uống mà thời gian uống cũng ảnh hưởng khác nhau đến cơ thể. Chính xác thì thời gian nào uống cà phê sẽ có lợi nhất?
        p.bold Cà phê vào buổi sáng
        .row
            .col-lg-1
            .col-lg-10
                img.mtb-2(src="assets/tin-tuc/tt-1.jpg", alt="")
        p Cà phê có thể cải thiện táo bón. Để công năng này hiệu quả thì một ly cà phê vào buổi sáng là tốt nhất. Thời gian uống còn lại trong ngày sẽ ít ảnh hưởng hơn.
        p.bold 30 phút sau khi ăn
        p Cà phê có thể thúc đẩy tiêu hóa. 30 phút sau bữa ăn là thời điểm thích hợp để bạn thưởng thức một ly cà phê và tận hưởng lợi ích này. Tuy nhiên, vì cà phê ảnh hưởng đến sự hấp thụ sắt của cơ thể nên những người thiếu máu cần tránh thức uống này.
        p.bold Một tách cà phê trước khi tập thể dục
        p Uống một tách cà phê 30 phút trước khi tập thể dục có thể tăng cường quá trình trao đổi chất, giúp đốt cháy nhiều calo hơn, và làm cho hiệu quả tập luyện các môn thể thao có ý nghĩa hơn. Nếu bạn là một vận động viên bạn sẽ nhận thấy thời gian uống này tốt như thế nào.
        p.bold Khi mệt mỏi, uống cà phê
        p Cà phê giúp bạn tỉnh táo, điều này là hiển nhiên. Một tách cà phê khi mệt mỏi có thể giúp bạn duy trì 4 giờ tỉnh táo. Tuy nhiên, với người uống cà phê lâu dài thì hiệu quả này không lớn.
        p.bold Giới hạn của việc uống cà phê
        p Cà phê cũng như các thức uống hay thực phẩm bất kỳ có thể mang lại lợi ích cho con người, nhưng phải có giới hạn. Một số người vẫn uống cà phê mỗi ngày, một số người thậm chí uống mọi lúc, mọi nơi.
        p Các bác sỹ khuyến nghị bạn nên uống 1-2 ly cà phê một ngày, tối đa là 4 ly (tổng số caffeine là khoảng 150 đến 250mg) là vừa phải. Nhiều hơn 4 ly có thể khiến bạn phải đối mặt với nhiều rủi ro.
        p Một số nghiên cứu chỉ ra rằng lượng caffeine trong một ngày lớn hơn 1g (tương đương 8-12 ly cà phê), nó sẽ dẫn đến ngộ độc, kết quả là gây ra tình trạng hồi hộp nôn mửa, ngất xỉu. Uống hơn 10 gram trong một ngày sẽ có nguy cơ tử vong!
        p Đừng nghĩ rằng người trung bình một ngày tiêu thụ đến 1g cà phê là rất khó, bởi vì chất caffeine không chỉ có trong cà phê, mà ngay cả đồ uống cola, trà, hoặc một số thức uống khác. Vì vậy, bạn nên biết rõ để kiểm soát lượng caffeine vào cơ thể tốt hơn.
        p (Theo: <span class="bold"> aFamily</span>)

section.ttct.bg-fff8e6.ptb-5
    .container
        .other_news Tin tức khác
        .row.ttct
            .col-lg
                .swiper-container
                    .swiper-wrapper
                        - for (i=1; i<=6; i++)
                            .swiper-slide
                                img.img_new(src="assets/tin-tuc/tt-4.jpg", alt="")
                                .title_new
                                    .date 23.06.2020
                                    a(href="tin-tuc-chi-tiet.html").bold.text_new 4 thời điểm tốt nhất trong ngày để uống cà phê
                .swiper-button-next <span class="lnr lnr-arrow-right"></span>
                .swiper-button-prev <span class="lnr lnr-arrow-left"></span>