.container
	.title Giới thiệu
section.mb-6
	.container
		.row#flex
			.col-lg-6#A
				img(src="assets/index/i-1.jpg", alt="")
			.col-lg-6#B
				.tab_content Tổng quan
				.tab_text Với sự trân trọng và nâng niu dành cho hạt cafe, MK Coffee cam kết không để những hạt cafe kém chất lượng làm ảnh hưởng đến quá trình cảm nhận của bạn. Tại MK Coffee, từng hạt Arabica và Robusta được tuyển chọn cẩn thận, rang xay và chế biến trực tiếp tại xưởng, đảm bảo đem đến hương vị thơm ngon và nguyên chất nhất.
section.mb-6
	.container
		.row
			.col-lg-6
				.tab_content Tầm nhìn - Sứ mệnh
				.tab_text
					p.bold Tầm nhìn
					p Với khát vọng "Mở rộng thị trường - Phát triển bền vững", MK Coffee không ngừng phấn đấu để trở thành công ty chuyên sản xuất và phân phối cafe chất lượng, uy tín tại Việt Nam.
					p.bold.mt-3 Tầm nhìn
					p.mb-2 Với khách hàng: Cam kết cung cấp sản phẩm chất lượng nhất. 
						| Với đối tác: Đề cao tinh thần hợp tác và có lợi cho đôi bên.
						br
						| Với nhân viên: Tạo môi trường làm việc năng động, chuyên nghiệp, phát huy tối đa sự sáng tạo.
			.col-lg-6
				img(src="assets/index/i-2.jpg", alt="")
section.mb-6
	.container
		.row#flex
			.col-lg-6#A
				img(src="assets/index/i-3.jpg", alt="")
			.col-lg-6#B
				.tab_content Giá trị cốt lõi
				.tab_text 
					p.mb-2
						| "Chất lượng thật - Giá trị thật - Tạo lòng tin" 
						br
						| MK Coffee đặt chất lượng sản phẩm lên hàng đầu. Chúng tôi tôn trọng người tiêu dùng cũng như tôn trọng chính sản phẩm mà chúng tôi làm ra. MK Coffee tin rằng những giá trị mà chúng tôi nỗ lực xây dựng sẽ đem đến sự hài lòng và gây dựng được niềm tin nơi khách hàng.
section.bg-fff8e6
	.container
		.about_content Chứng nhận
		.row.about_text
			.col-lg.col-sm-6.col-xs-6
				img(src="assets/index/i-4-1.png", alt="")
				p.bold Hàng Việt Nam chất lượng cao
			.col-lg.col-sm-6.col-xs-6
				img(src="assets/index/i-4-2.png", alt="")
				p.bold Top 20 Thương hiệu Việt uy tín năm 2019
			.col-lg.col-sm-6.col-xs-6
				img(src="assets/index/i-4-3.png", alt="")
				p.bold Giải thưởng xếp hạng tín nhiệm doanh nghiệp năm 2020
			.col-lg.col-sm-6.col-xs-6
				img(src="assets/index/i-4-4.png", alt="")
				p.bold Sản phẩm đạt cúp vàng lễ hội cà phê Buôn Ma Thuột 2019
			.col-lg.col-sm-6.col-xs-6
				img(src="assets/index/i-4-5.png", alt="")
				p.bold Cúp vàng thương hiệu hội chợ triển lãm quốc tế Sài Gòn Expo 2019
