.container
	.title Năng lực sản xuất
section
	.container
		.row#flex
			.col-lg-6#A
				img(src="assets/nlsx/nlsx-1.jpg", alt="")
			.col-lg-6#B
				.tab_content Hệ thống xưởng
				.tab_text Nhà máy chế biến của chúng tôi được đặt trực tiếp tại nông trại giúp những hạt cafe giữ trọn hương vị đậm đà trong quá trình chế biến.
section
	.container
		.row
			.col-lg-6
				.tab_content Công nghệ máy móc
				.tab_text
					p MK Coffee xây dựng một dây chuyền sản xuất tiên tiến, hiện đại, vì vậy, từng sản phẩm mà MK		Coffee đem đến cho người tiêu dùng luôn là những sản phẩm đặc biệt và chất lượng nhất.
			.col-lg-6
				img(src="assets/nlsx/nlsx-2.jpg", alt="")
section
	.container
		.row#flex
			.col-lg-6#A
				img(src="assets/nlsx/nlsx-3.jpg", alt="")
			.col-lg-6#B
				.tab_content Quy chuẩn chất lượng
				.tab_text 
					p Những hạt cafe chất lượng nhất, thơm ngon nhất được tuyển chọn và bảo quản cẩn thận với một quy trình kiểm soát nghiêm ngặt, đáp ứng được mọi tiêu chuẩn cũng như yêu cầu kỹ thuật khắt khe. 
						
