extends ../_components/_layout/_layout.pug

block var
	- let title = 'LIÊN HỆ';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Tin Tuc'];
block banner,breadcrumb
	
block main
	include ../_components/lien-he/lh.pug
block scripts