.container
	<div id="fullpage">
		<div class="section">
			.row
					.col-lg-6
						.tab_content Tầm nhìn - Sứ mệnh
						.tab_text
							p.bold Tầm nhìn
							p Với khát vọng "Mở rộng thị trường - Phát triển bền vững", MK Coffee không ngừng phấn đấu để trở thành công ty chuyên sản xuất và phân phối cafe chất lượng, uy tín tại Việt Nam.
							p.bold.mt-3 Tầm nhìn
							p.mb-2 Với khách hàng: Cam kết cung cấp sản phẩm chất lượng nhất. 
								| Với đối tác: Đề cao tinh thần hợp tác và có lợi cho đôi bên.
								br
								| Với nhân viên: Tạo môi trường làm việc năng động, chuyên nghiệp, phát huy tối đa sự sáng tạo.
					.col-lg-6
						img(src="assets/index/i-2.jpg", alt="")
		</div>
		<div class="section">
			.row
					.col-lg-6
						.tab_content Tầm nhìn - Sứ mệnh
						.tab_text
							p.bold Tầm nhìn
							p Với khát vọng "Mở rộng thị trường - Phát triển bền vững", MK Coffee không ngừng phấn đấu để trở thành công ty chuyên sản xuất và phân phối cafe chất lượng, uy tín tại Việt Nam.
							p.bold.mt-3 Tầm nhìn
							p.mb-2 Với khách hàng: Cam kết cung cấp sản phẩm chất lượng nhất. 
								| Với đối tác: Đề cao tinh thần hợp tác và có lợi cho đôi bên.
								br
								| Với nhân viên: Tạo môi trường làm việc năng động, chuyên nghiệp, phát huy tối đa sự sáng tạo.
					.col-lg-6
						img(src="assets/index/i-2.jpg", alt="")
		</div>
		<div class="section">
			.row
					.col-lg-6
						.tab_content Tầm nhìn - Sứ mệnh
						.tab_text
							p.bold Tầm nhìn
							p Với khát vọng "Mở rộng thị trường - Phát triển bền vững", MK Coffee không ngừng phấn đấu để trở thành công ty chuyên sản xuất và phân phối cafe chất lượng, uy tín tại Việt Nam.
							p.bold.mt-3 Tầm nhìn
							p.mb-2 Với khách hàng: Cam kết cung cấp sản phẩm chất lượng nhất. 
								| Với đối tác: Đề cao tinh thần hợp tác và có lợi cho đôi bên.
								br
								| Với nhân viên: Tạo môi trường làm việc năng động, chuyên nghiệp, phát huy tối đa sự sáng tạo.
					.col-lg-6
						img(src="assets/index/i-2.jpg", alt="")
		</div>
	</div>